<!DOCTYPE html>
<html>
<head>
    <title>TFT Bug Showcase</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('category', name='gameplay') }}">Gameplay</a></li>
            <li><a href="{{ url_for('category', name='visual') }}">Visual</a></li>
            <li><a href="{{ url_for('category', name='audio') }}">Audio</a></li>
            <li><a href="{{ url_for('report') }}">Report Bug</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
